<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>添加/编辑$!page_title - Powered By JAVASOFT</title>
<meta name="Author" content="JAVASOFT Team" />
<meta name="Copyright" content="JAVASOFT" />
<base href="$!getBasePath()">  
<link rel="icon" href="../favicon.ico" type="image/x-icon" />
<link href="/template/admin/css/base.css" rel="stylesheet" type="text/css" />
<link href="/template/admin/css/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/template/common/js/jquery.js"></script>
##<script type="text/javascript" src="/template/common/js/jquery.tools.js"></script>
<script type="text/javascript" src="/template/common/js/jquery.validate.js"></script>
<script type="text/javascript" src="/template/common/js/jquery.validate.methods.js"></script>
<script type="text/javascript" src="/template/admin/js/base.js"></script>
<script type="text/javascript" src="/template/admin/js/admin.js"></script>
</head>
<body class="input admin">
	<div class="bar">
		#if($isAddAction) 添加$!page_title #else 编辑$!page_title #end
	</div>
	<div id="validateErrorContainer" class="validateErrorContainer">
		<div class="validateErrorTitle">以下信息填写有误,请重新填写</div>
		<ul></ul>
	</div>
	<div class="body">
		<form id="validateForm" action="#if($isAddAction) $!save_form_action #else $!update_form_action #end" #if($!isUpload) enctype="multipart/form-data" #end method="post">
			<input type="hidden" name="id" value="$!model.id" />
			$screen_content
			<div class="buttonArea">
				<input type="submit" class="formButton" value="确  定" hidefocus />&nbsp;&nbsp;
				<input type="button" class="formButton" onclick="window.history.back(); return false;" value="返  回" hidefocus />
			</div>
		</form>
	</div>
</body>
</html>
